@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* width: 100%; */
  /* height: 100%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  /* === Backgrounds === */
  .bg-primary {
    @apply bg-gradient-to-r from-gray-800 via-gray-700 to-gray-800 shadow-md transition-all duration-300;
  }

  .bg-light {
    @apply bg-white;
  }

  .bg-dark {
    @apply bg-black;
  }

  .bg-secondary {
    @apply bg-gray-600;
  }

  /* === Text Colors === */
  .text-light {
    @apply text-white;
  }

  .text-secondary {
    @apply text-yellow-400;
  }

  .text-light {
    @apply text-white;
  }

  .text-dark {
    @apply text-black;
  }

  /* === Buttons === */
  .btn-primary {
    @apply bg-green-600 text-white font-semibold px-4 py-2 rounded hover:bg-green-700 transition duration-300;
  }

  .btn-secondary {
    @apply bg-gray-600 text-white font-semibold px-4 py-2 rounded hover:bg-gray-700 transition duration-300;
  }
}
/* globals.css or your main stylesheet */

.nav-link {
  @apply cursor-pointer text-white hover:text-yellow-300 hover:shadow-[0_0_15px_5px_rgba(250,204,21,0.6)] border-none rounded-full transition duration-300 px-2;
}

.nav-link-active {
  @apply text-yellow-400 shadow-[0_0_15px_5px_rgba(250,204,21,0.6)] border-none rounded-full transition duration-300;
}

.text-highlight {
  @apply text-yellow-400;
}
